/* Estilo Geral
----------------------------*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.border1 {
  border: 1px solid red;
}

.border2 {
  border: 1px solid blue;
}

/* Header
-------------------------------------*/

/* Banner 
-----------------------------------------*/

.banner {
  width: 100%;
  height: 375px;
  background: url("banner.png") no-repeat center;
  background-size: cover;
}

/* Produtos 
---------------------------------------*/

.produto {
  width: 25%;
}

.img-produto {
  width: 200px;
  height: 200px;
  background: url("img1.jpg") no-repeat center center;
  background-size: cover;
}

/* Footer 
----------------------------------------*/
footer {
  background: gray;
}